/* PRODUCTS */
#content-productPage {
	width:100%;
	min-width: 960px;
	background: #FFFFFF url(img/product_bg.jpg) repeat-x 0 0;
}
#content-productPage2 {
	width:100%;
	min-width: 960px;
	background: #FFFFFF url(img/product_bg2.jpg) repeat-x 0 0;
}
.product-wrap {
	width:100%;
}
.product-wrap ul {
margin:0;
padding:0;
}
.product-nav li {
	float:left;
	margin:0 0 30px 0;
	padding:0;
}
.product-nav li img{
	margin:10px 26px 10px 0;;
}


.product-nav h3 {
	font-size: 1em;
	line-height: 180%;
	color:#333;
}


.ui-accordion-header {
	color:red;
}

.product-nav-r .ui-icon-triangle-1-s {
	background:url(img/arrow.png) no-repeat 0 3px;
}

.product-nav-r .ui-accordion .ui-accordion-header {
    border:none;
}

.product-nav-r .ui-accordion-header a {
	padding:0.5em 0.5em 0.5em 1em;
	font-size:1.22em;
	color:#333;
}

.product-nav-r .ui-widget-content {
	background:none;
}

.product-nav-r ul {
	margin:0;
}
.product-nav-r ul li {
	list-style-image: url(img/sub_dot.png);
	width:100%;
	line-height: 150%;
	list-style-position:inside;
	vertical-align: text-bottom;
}


.product-nav-r .ui-accordion-content {
	padding: 1em 1em;
} 