/* Style overrides for IE6 */

/* MENU - Main */
#main-menu ul li:hover ul li a, #main-menu ul li.sfhover ul li a, #main-menu ul li:hover ul li a:visited, #main-menu ul li.sfhover ul li a:visited {
	width:200px;
}
#main-menu ul li:hover ul li:hover ul, #main-menu ul li.sfhover ul li.sfhover ul { /* Third sub-nav */
	left:220px; /* Match the Second sub-nav width sans padding */
}

/* GENERAL */
ul li { background: url(../images/bullet-red.gif) no-repeat 0 0.5em; }
a.readmore { 	background: url(../images/bullet-red.gif) no-repeat 0 4px; }
a.button {
	color:#333;
	font-size:0.92em;
	font-weight:bold;
	position:relative;
	padding: 4px 1em 5px;
	margin:2px 0;
	cursor:pointer;
	border-top:1px solid #d4d4d4;
	border-left:1px solid #bbbbbb;
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #999;
	border-radius:2px;
	background: #c2c2c2 url(../images/button-bg.png) no-repeat 100% 0;
}
#content { height:580px; }
#main .col-group.alignleft { width:700px; margin-left:5px; }
.sub-menu { position:relative; left:-10px; }
.sub-menu ul.menu li a {
	background:url(../images/bullet-red.gif) no-repeat -16px 15px;
}
.sub-menu ul.menu li a:hover { padding-left:18px; padding-right:6px; background-position:12px 15px; }
.sub-menu ul.menu li ul li a { background:none; }
#sidebar .inside img.alignleft { display:block; width:65px; }
#people-module { margin-top: 1em; }
#people-module div.headline { padding-top: 8px; }
#home-ticker { border-bottom:1px solid #333; }
#banner a.button {
	display:block;
	float:left;
	color:#FFF;
	font-size:0.92em;
	position:relative;
	padding: 4px 12px 5px;
	margin:2px 0;
	cursor:pointer;
	border-top:1px solid #fa555d;
	border-left:1px solid #991218;
	border-right:1px solid #991218;
	border-bottom:1px solid #430206;
	background-color: #e51b24;
}
#timeline.active .excerpt { position:relative; left:-10px; margin-right:5px; }
/* Hiding pngs */
#timeline .timeline-extension, #banner .service_box-module div.quote_extension, img.module.shadow { display:none; }
/* hasLayout fix */
#sidebar .inside img, .sub-menu, .sub-menu ul.menu li a, .sub-menu ul.menu li a:hover, .sub-menu ul.menu li a:visited, .sub-menu ul.menu li, #timeline.active .item { zoom:1; }